.App {
  text-align: center;
}
 
.result{
  background-color: green;
  color: white;
  height: 30px;
  padding: 5px;
}
button{
  width: 100px;
  height: 40px;
}

tr:nth-child(even) {
  background-color: transparent; /* Couleur pour les lignes paires */
}

tr:nth-child(odd) {
  background-color: blue; /* Couleur pour les lignes impaires */
}

/* Style pour les en-têtes du tableau (th) */
th {
  background-color: #3498db; /* Couleur pour les en-têtes */

  color: #ffffff; /* Couleur du texte pour les en-têtes */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
